.about__container {
    grid-template-columns: repeat(2, 1fr); /* 2 col */
    align-items: center;
    column-gap: 4rem;

    /* 
    => grid-template-columns: repeat(2, 1fr);

    Đây là một định dạng CSS để thiết lập cột trong lưới (grid) của một trang web. 
    Cụ thể, nó định nghĩa rằng lưới sẽ có 2 cột và mỗi cột sẽ chiếm độ rộng bằng nhau, 
    được xác định bởi giá trị "1fr".

    Hàm repeat(2, 1fr) được sử dụng để lặp lại giá trị "1fr" hai lần, giúp viết code ngắn gọn hơn. 
    Vì vậy, đoạn mã trên tương đương với việc thiết lập lưới có 2 cột với độ rộng bằng nhau.
*/
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;

    /* 
    =>  gap: 0.5rem;
    "gap: 0.5rem" là một thuộc tính CSS được sử dụng để tạo khoảng cách giữa các phần tử. 
    Trong trường hợp này, nó sẽ tạo ra một khoảng cách dọc giữa các phần tử là 0.5 rem 
    (hoặc 0.5 lần kích thước của phần tử đang được áp dụng thuộc tính này). 

    Ví dụ, nếu bạn sử dụng "gap: 0.5rem" trên một danh sách, 
    nó sẽ tạo ra khoảng cách 0.5rem giữa các mục trong danh sách đó. 
    Thuộc tính này thường được sử dụng để tạo khoảng cách giữa các phần tử trong các lưới 
    (grid) hoặc các hàng trong các bảng (table). 
    */

    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
}
